body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#controlContainer {
  align-self: center;
  margin: 1em;
}

.control {
  z-index: 10;
  position: relative;
  width: 5em;
}

canvas {
  align-self: center;
  z-index: 5;
}

#snowflake {
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#canvasContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#graphContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

#graphLabelContainer {
  transform: translate(-6em,0);
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.graphLabel {
  text-align: right;
  z-index: 0;
}

.paused {
  animation-play-state: paused;
}
